WebAPIFileUploadExample/MvcWebApi/bin
WebAPIFileUploadExample/WebAPIFileUploadExample/bin
WebAPIFileUploadExample/WebAPIFileUploadExample/obj
WebAPIFileUploadExample/MvcWebApi/obj
WebAPIFileUploadExample/WebAPIFileUpload.v12.suo
WebAPIFileUploadExample/WebAPIFileUpload.v11.suo
WebAPIFileUploadExample/ConsoleClient/obj/Debug
WebAPIFileUploadExample/ConsoleClient/bin
WebAPIFileUploadExample/MvcWebApi/MvcWebApi.csproj.user
